@use "./base.scss";

:root {
  --headerFont: "Microsoft YaHei", "PingFang SC", system-ui, sans-serif;
  --bodyFont: "Microsoft YaHei", "PingFang SC", system-ui, sans-serif;
  --codeFont: "Cascadia Code", Consolas, monospace;
}
